@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(292px, 1fr));
}

@mixin image{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
